@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* // */
/* CustomRangeInput.css */
.slider::-webkit-slider-thumb {
  visibility: hidden;
  /* display: none; */
}

.slider::-moz-range-thumb {
  /* display: none; */

  visibility: hidden;
}

.slider::-ms-thumb {
  visibility: hidden;

  /* display: none; */
}
